.App {
  text-align: center;
  background-color: #272727;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*{
  font-family: 'Questrial', sans-serif;

}
h1{
  font-family: 'Dancing Script', cursive;
  font-size: 2.5rem;
}
p{
  font-size: 1.2rem;
}
.styledLink{
  text-decoration: none;
  color: aquamarine;
  font-size: 1.5rem;
  color: #272727;

}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: #272727;
}
#pa {
  /* padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%; */
  color: #E5E059;
}
body{
  background-color: #272727;
  width: 100%;
  height: 100%;
}
.styledLink:hover{
  color: #009FB7;
}
a:hover{
  color: #009FB7;
}
